@import '../../containers/UI/UI.scss';

/* GAME DASHBOARD SECTION */

.game__dashboard {
    border-radius: 0 0 1rem 1rem;
    padding: 0 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 8rem;
    background-color: var(--color-grey-dark-2);

    @media only screen and (max-width: $bp-medium) {
        background-color: #fff;
        height: unset;
        flex-direction: column;
        padding: 0 2rem;
    }

    &-btn {
        margin: 1rem 0;
        font-size: 2rem;
        padding: 1rem 2rem;
        border: none;
        color: #fff;
        background-color: var(--color-grey-dark-1);
        border-radius: .9rem;
    
        @media only screen and (max-width: $bp-largest) {
            font-size: 1.8rem;
        }
    
        @media only screen and (max-width: $bp-large) {
            font-size: 1.4rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            margin: 0.5rem 0;
        }
            
        &-change-scale {
            background-color: var(--color-change-scale);

            &:hover {
                background-color: var(--color-change-scale-dark);
            }
        }

        &-new-game {
            background-color: var(--color-new-game);
        
            &:hover {
                background-color: var(--color-new-game-dark);
            }
        }


    }
}








